/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

body {
    /* rgb */
    color: rgb(22,33,12);
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 1rem; /* 1rem / 1.5 */
    font-weight: 400;
    line-height: 1.5;
    /* color: #112233; */
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
}




/* footer */

.bg-dark {
    background-color: #112233;
}

.container {

}

.row {

}

.col {

}

.text-white {
    color: white;
}
/* 0 1 2 3 4 5 6 7 8 9 a b c d e f */
ul {
    list-style: none;
}
.reset-anchor {
    color: #fafafa;
    text-decoration: none;
    
}

